<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xmlns:context="http://www.springframework.org/schema/context"

       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"

       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.3.xsd

http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.3.xsd

http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util-4.3.xsd">

    <!-- подключение аннотаций -->
    <context:annotation-config/>

    <!--&lt;!&ndash; подключение класса для работы с файлами .properties:  &ndash;&gt;-->
    <!--&lt;!&ndash; (мне здесь пока что этого не нужно) &ndash;&gt;-->
    <!--<bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">-->
        <!--<property name="locations">-->
            <!--<list>-->
                <!--&lt;!&ndash; путь в данном случае определяется через директиву classpath, но можно чз. указание пути: &ndash;&gt;-->
                <!--&lt;!&ndash; todo: выбрать потом нужное название файла .properties &ndash;&gt;-->
                <!--<value>classpath:client.properties</value>-->
            <!--</list>-->
        <!--</property>-->
        <!--&lt;!&ndash; игнорирование отсутствующих ресурсов - чтобы не выскочило исключение: &ndash;&gt;-->
        <!--<property name="ignoreResourceNotFound" value="true"/>-->
        <!--&lt;!&ndash; systemPropertiesMode: по умолчанию _FALLBACK: если ключ не найден в property-файлах, то спринг попробует-->
         <!--найти его в системных свойствах и переменных окружения; _OVERRIDE: свойтсва системы будут просмотрены первыми;-->
          <!--_NEVER - не будут никогда&ndash;&gt;-->
        <!--<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>-->
    <!--</bean>-->

    <!-- создание нужных бинов: -->
    <bean name="fooService1" class="springEx.FooService">
        <property name="name" value="fooService1"/>
    </bean>

    <bean name="fooService2" class="springEx.FooService" p:name="fooService2"/>

</beans>